{% load cmdb_tags %}

<div class="form-group {{data|getitem:mname|getitem:'class'}}">
  <label class="control-label {{mtclass}}" style="text-align:right">
    {% if data|getitem:mname|getitem:"no_blank" %}
    <strong>*</strong>
    {% endif %}
    {{ data|getitem:mname|getitem:"verbose_name"|capfirst}}:
  </label>

  <div class="{{mdclass}}">
    <div style="display:none">
    <textarea id="{{mname}}_{{data.id}}"  rows="7"
              name="{{mname}}">{{data|getitem:mname|getitem:"value"}}</textarea>
    </div>
    <div class="col-md-12 col-lg-12 form-control ace_editor" id="{{mname}}_{{data.id}}_editor">{{data|getitem:mname|getitem:"value"}}</div>
    <div class="help-block">
      {{data|getitem:mname|getitem:"help_text"|safe|capfirst}}
    </div>
    <div class="">
      <strong> {{data|getitem:mname|getitem:"errormsg"|safe}} </strong>
    </div>
  </div>
</div>
