{% load cmdb_tags %}

<div class="form-group {{ data|getitem:mname|getitem:'class' }}">
    <label class="control-label {{ mtclass }}" style="text-align:right">
        {% if data|getitem:mname|getitem:"no_blank" %}
            <strong>*</strong>
        {% endif %}
        {{ data|getitem:mname|getitem:"verbose_name"|capfirst }}:
    </label>

    <div class="control-group {{ mdclass }}">

        <select class="col-md-12 col-lg-12" id="{{ mname }}_{{ data.id }}" {{ mdattr }}
                name="{{ mname }}">

            {% for choice, choice_name in mchoices_keys|getitem:mname %}
                <option {% ifequal data|getitem:mname|getitem:"value"|tostring choice|tostring %}
                    selected="selected" {% endifequal %}
                    value="{{ choice }}">
                    {{ choice_name }}
                </option>
            {% endfor %}

        </select>

        <div class="help-block">
            {{ data|getitem:mname|getitem:"help_text"|safe|capfirst }}
        </div>
        <div class="">
            <strong> {{ data|getitem:mname|getitem:"errormsg"|safe }} </strong>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("select[name={{mname}}]").select2({
            "width": "100%"
        });
    });
</script>
