{% load cmdb_tags %}
<div class="form-group {{data|getitem:mname|getitem:'class'}}">
  <label class="control-label {{mtclass}}" style="text-align:right">
    {{ data|getitem:mname|getitem:"verbose_name"|capfirst}}:
  </label>
  <div class="control-group {{mdclass}}">
    <pre class="col-md-12 col-lg-12" id="{{mname}}_{{data.id}}"
         name="{{mname}}">{{data|getitem:mname|getitem:"value"}}</pre>
    <div class="help-block">
      {{data|getitem:mname|getitem:"help_text"|safe|capfirst}}
    </div>
    <div class="">
      <strong> {{data|getitem:mname|getitem:"errormsg"|safe}} </strong>
    </div>
  </div>
</div>
